/********************************************************************************************

	GENERAL STYLES

********************************************************************************************/
@import "mixins";


/*======== TYPOGRAPHY ========*/
body{
	color: $body-color;
	font-size: 15px;
	@include font-rubick;
	font-weight: 400;
}
h1{
	font-size: 3.2rem;
	color: $heading-color;
	text-transform: uppercase;
}

/*======== HEADER ========*/
header{
	display: flex;
	flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 2rem;

    .logo{
    	@include font-rubick;
    	color: $pink;
    	text-transform: uppercase;
    	font-weight: 700;
    	font-size: 1.5rem;

    	span{
    		font-weight: 400;
    		color: $heading-color;
    	}
    }

	nav{
		height: 100%;

		&.navbar-animated .navbar-toggler .icon-bar {
			background-color: $heading-color;
		}

		.navbar-toggler {		
			.icon-bar {
				&:nth-child(1) {
					width: 100%;
				}
				&:nth-child(2) {
					width: 100%;
				}
			}		
			&.opened {
				.icon-bar {
					&:nth-child(1),
					&:nth-child(2) {
						width: 100%;
					}
				}
			}
		}

	    ul{
			display: flex;
		    flex-wrap: wrap;
	    	list-style: none;
	    	align-items: center;
		    margin: 0;
		    padding: 0;
		    height: 100%;

	    	> li{
	    		margin: 0 1rem;
				
				&:first-child{
					margin-left: 0;
				}

				&:last-child{
					margin-right: 0;
				}

	    		> a{
	    			color: $heading-color;
	    			text-transform: uppercase;
	    			font-weight: 500;
	    			transition: color .3s;

	    			&:hover{
	    				color: $pink;
	    				text-decoration: none;
	    			}
	    		}
	    	}
	    }
	}

	.top-socials {

		ul{
    		list-style: none;
    		margin: 0;
    		padding: 0;
    		height: 100%;

    		li{
    			margin: 0 .7rem;

    			a{
    				color: $dark-green;
    				transition: opacity .3s;

    				&:hover{
    					opacity: .75;
    				}
    			}
    		}
		}
	}
}


/*======== MAIN CONTENT ========*/
.main{
	padding-top: 6rem;
}
.title-block {

	h1{
		margin-right: .7rem;
	}
}

.post-modify-date{
	color: $dark-green;
	font-size: 1.05rem;

	.fas{
		margin-right: .7rem;
	}

	strong{
		font-weight: 500;
	}
}

.main-content{
	margin-top: 6rem;
}


/*======== SIDEBAR ========*/
#sidebar .widget{
	border: 3px solid $dark-green;

	.title-wrapper{
		padding: 1.5rem 2rem 1rem;
		border-bottom: 1px solid $light-grey;
		margin-bottom: 1rem;

		h3{
			color: $heading-color;
			margin-bottom: 0;
    		line-height: 1;
		}
	}

	ul{
		padding: 0;

		li{
			list-style: none;		

			a{
				color: black;
    			font-weight: 500;
    			padding: 1rem 2rem;
    			transition: all .3s;
    			display: inline-block;
    			width: 100%;

    			.icon-wrapper{
    				margin-right: 2rem;
    			}

    			&:hover{
    				text-decoration: none;
    				background-color: $dark-green;
    				color: white;
    			}
			}
		}
	}
}


/*======== FOOTER ========*/
footer{
	border-top: 5px solid $dark-green;
	margin-top: 4rem;
	
	.footer-menu{
		margin: 2.75rem 0;

		nav{
			height: 100%;

		    ul{
				display: flex;
			    flex-wrap: wrap;
		    	list-style: none;
		    	align-items: center;
			    margin: 0;
			    padding: 0;
			    height: 100%;

		    	> li{
		    		margin: 0 1rem;
					
					&:first-child{
						margin-left: 0;
					}

					&:last-child{
						margin-right: 0;
					}

		    		> a{
		    			color: $heading-color;
		    			text-transform: uppercase;
		    			font-weight: 500;
		    			transition: color .3s;

		    			&:hover{
		    				color: $pink;
		    				text-decoration: none;
		    			}
		    		}
		    	}
		    }
		}
	}

	.dmca-logo img{
		background-color: $dark-green;
		padding: 1.25rem 1.5625rem;
	}

	.copyright{
		color: $heading-color;
	}
}

/*======== ELEMENTS ========*/
.add-strike-through {
	position: relative;
	text-align: center;
	
	&:before{
		background-color: #e3e8f0;
	    content: '';
	    display: block;
	    width: 100%;
	    height: 2px;
	    position: absolute;
	    top: .7rem;
	}

	.text-wrapper{
		background: white;
	    z-index: 10;
	    position: relative;
	    padding: 0 20px;
	}
}


/*======== PAGES ========*/
/*=== Home page ===*/

