@media (min-width: 768px) {
	.collapse-section{
		padding: 3.3rem 2.6rem;
	}
}

@media (max-width: 1200px) {
	
	/*=== HEADER ===*/
	header{
		padding: 1rem;
		justify-content: center;

		.logo{
			position: absolute;
    		left: 10px;
		}

		.navbar{
			justify-content: flex-end;
			padding: 0;
			width: 100%;

			.navbar-toggler{
				outline: none;
			}

			.navbar-nav{
				padding-top: 15px;

				li{
					margin: 0;
				    padding: 5px 0;
				    border-bottom: 1px solid #eee;
				    width: 100%;
				}

				.top-socials {
					position: relative;

					ul li {
						margin: 0.3rem;
						display: inline-block;
						width: auto;
						border-bottom: 0;
					}
				}
			}
		}
	}
}


@media (max-width: 768px) {

	/*=== HEADER ===*/
	footer .footer-menu {
		margin-bottom: 1.5rem;

		nav ul{
			justify-content: center;

			li{
				width: 100%;
    			margin: .2rem 0;
			}
		}
	}

	/*=== CONTENT ===*/
	.main-content{
		margin-top: 0;
	}

	.pagination {
	    margin-bottom: 4rem;
	    margin-top: 3rem;

	    ul {
			opacity: 0;
		}
	}


	/*=== Single Page ===*/
	.wrap{
		margin-top: 3rem;
	}

	.general-info {

		.info > div {
			width: 100%;
			display: flex;

			span:last-child{
				order: 1;
				width: 50%
			}
			span:first-child{
				order: 2;
			}
		}

		.checkboxes{
			margin: 1rem 0;

			ul{
				flex-wrap: wrap;

				li{
					width: 100%;
					margin: 0;
				}
			}
		}
	}


	/*=== Features 2 section ===*/
	.features-2-section {

		.boxes {
			box-shadow: none;
			border: none;

			& > div {
				border: 1px solid #eee;
				box-shadow: 2px -2px 30px -3px #efefef;
			}
		}
	}
}


@media (max-width: 480px){

	h1{
		font-size: 1.5rem;
	}

	/*=== Contacts Section ===*/
	.contacts-section-wrap .contacts-section{
		padding: 1rem .25rem;

		td{
			width: 125px;
			word-break: break-word;

			&:first-child {
				max-width: 125px;
			}
		}
	}
}